#userActions
{
	float: left;
}
#searchDiv
{
	float: right;
	margin-right: 15px;
	margin-top: 5px;
}
#searchBox
{
	border-radius: 5px;
	padding-left: 5px;
}
h5
{
	margin: 15px 0 0 0;
}
ul
{
	padding: 0;
	margin: 5px 5px 0 10px;
}
ul li
{
	list-style-type: none;
	padding: 2px 0;
}
.gradient
{
	background-color: #EEEEEE;
}
#nav
{
	min-height: 400px;
	background-color: #D4D8E3;
	float: left;
}
#footer
{
	height: 22px;
	clear: both;
}
#createPlaylist
{
	float: left;
	cursor: pointer;
	width:22px;
	margin: 1px;
}
#trash
{
	float: left;
	width: 22px;
	margin: 1px;
}